<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">
<body>
    <footer class="main-footer" th:fragment="footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2017-2018 <a href="https://tr.linkedin.com/in/erdem-karakuş-8612b448">Scrabble by Erdem Karakuş</a>. </strong> All rights reserved.
    </footer>
</body>
</html>